### What are For Loops?

In the context of most data science work, Python for loops are used to loop through an iterable object (like a list, tuple, set, etc.) and perform the same action for each entry. For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.

In [15]:
our_list = ['Lily', 'Brad', 'Fatimah', 'Zining']

In [16]:
for name in our_list:
    print(name)

Lily
Brad
Fatimah
Zining

In [17]:
# It's the same way even when we change the 'name'
for x in our_list:
    print(x)

Lily
Brad
Fatimah
Zining

In [18]:
for letter in 'Lily':
    print(letter)

L
i
l
y

### Using For Loops with Lists of Lists

In [19]:
ev_data = [['vehicle', 'range', 'price'], 
           ['Tesla Model 3 LR', '310', '49900'], 
           ['Hyundai Ioniq EV', '124', '30315'], 
           ['Chevy Bolt', '238', '36620']]

In [20]:
for row in ev_data[1:]: # Loop through each row in ev_data starting with row 2 (index 1)
    ev_range = row[1] # Each car's range is found in column 2 (index 1)
    ev_range = int(ev_range) # Convert each range number from a string to an integer
    row[1] = ev_range # Assign range, which is now an integer, back to index 1 in each row
print(ev_data)

[['vehicle', 'range', 'price'], ['Tesla Model 3 LR', 310, '49900'], ['Hyundai Ioniq EV', 124, '30315'], ['Chevy Bolt', 238, '36620']]

In [21]:
total_range = 0 # Create a variable to store the total range number

for row in ev_data[1:]: # Loop through each row in ev_data starting with row 2 (index 1)
    ev_range = row[1] # Each car's range is found in column 2 (index 1)
    total_range += ev_range # Add this number to the number stored in total_range
    
number_of_cars = len(ev_data[1:]) # Calculate the length of our list, minus the header row
print(total_range / number_of_cars) # Print the average range

224.0

In [26]:
total_price = 0                     # create a variable to store the total range number

for row in ev_data[1:]:             # loop through each row in ev_data starting with row 2 (index 1)
    price = row[2]                  # each car's price is found in column 3 (index 2)
    price = int(price)              # convert each price number from a string to an integer
    row[2] = price                  # assign price, which is now an integer, back to index 2 in each row
    total_price += price            # add each car's price to total_price

number_of_cars = len(ev_data[1:])   # calculate the length of our list, minus the header row

print(total_price / number_of_cars) # print the average price

38945.0

In [25]:
long_range_car_list = []       # creating a new list to store our long range car data

for row in ev_data[1:]:        # iterate through ev_data, skipping the header row
    ev_range = row[1]          # assign the range number, which is at index 1 in the row, to the range variable
    if ev_range > 200:         # append the whole row to long-range list if range is higher than 200
        long_range_car_list.append(row)

print(long_range_car_list)

[['Tesla Model 3 LR', 310, 49900], ['Chevy Bolt', 238, 36620]]

#### Other Useful Techniques: Range, Break, and Continue

In [27]:
# Range
for x in range(5,9):
    print(x)

5
6
7
8

In [29]:
for x in range(3):
    print(x)

0
1
2

In [30]:
for x in range(0,6,2):
    print(x)

0
2
4

In [31]:
# Break
for name in our_list:
    if name == 'Zining':
        break
    print(name)

Lily
Brad
Fatimah

In [32]:
long_range_car_list = [] # Create an empty car list again

for row in ev_data[1:]:# Iterate through ev_data as before looking for cars with range > 200
    ev_range = row[1]
    if ev_range > 200:
        long_range_car_list.append(row)
    if 'Tesla' in row[0]: # but if 'Tesla' appears in the vehicle column, end the loop
        break
print(long_range_car_list)

[['Tesla Model 3 LR', 310, 49900]]

When Python sees continue while executing a for loop on a list, for example, it will stop at that point and move on to the next item on the list. Any code that comes below the continue will not be executed.

In [33]:
# Continue
for name in our_list:
    if name == 'Brad':
        continue
    print(name)

Lily
Fatimah
Zining

In [34]:
short_range_car_list = []               # creating our empty short-range car list

for row in ev_data[1:]:                 # iterate through ev_data as before
    ev_range = row[1]
    if ev_range > 200:                  #  if the car has a range of > 200
        continue                        # end the loop here; do not execute the code below, continue to the next row
    short_range_car_list.append(row)    # append the row to our short-range car list


print(short_range_car_list)

[['Hyundai Ioniq EV', 124, 30315]]