#### Imports

In [2]:
# 'generic import' of math module
import math
math.sqrt(9)

3.0

In [4]:
# import a function
from math import sqrt
sqrt(25)

5.0

In [5]:
# import multiple functions at once
from math import cos, floor

In [6]:
# import all functions in a module (generally discouraged)
from csv import *

In [7]:
# define an alias
import datetime as dt

In [8]:
# show all functions in math module
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

#### Data Types

In [9]:
type(2)

int

In [10]:
type(2.0)

float

In [11]:
type('two')

str

In [13]:
type(True)

bool

In [14]:
type(None)

NoneType

In [15]:
# Check if an object is of a given type
isinstance(2.0, int)

False

In [16]:
isinstance(2.0, (int, float))

True

In [17]:
# Convert an object to a given type
float(2)

2.0

In [18]:
int(2.9)

2

In [19]:
str(2.9)

'2.9'

In [20]:
# Zero, None, and empty containers are converted to False:
bool(0)

False

In [21]:
bool(None)

False

In [22]:
bool('') # empty string

False

In [23]:
bool([]) # empty list

False

In [24]:
bool({}) # empty dictionary

False

In [25]:
# Non-empty containers and non-zeros are converted to True:
bool(2)

True

In [26]:
bool('two')

True

In [27]:
bool([2])

True

#### Math

In [28]:
10 + 4

14

In [29]:
10 - 4

6

In [30]:
10 * 4

40

In [32]:
10 ** 4 #exponent

10000

In [33]:
5 % 4 # modulo - computes the remainder

1

In [34]:
# Python 2: returns 2 (because both types are 'int')
# Python 3: returns 2.5
10/4

2.5

In [35]:
10/float(4)

2.5

In [36]:
10/4 # true division

2.5

In [37]:
10 // 4 # floor division

2

#### Comparison and Booleans Operations

In [38]:
# Assignment statement
x = 5

In [39]:
# Comparison
x > 3

True

In [40]:
x >= 3

True

In [41]:
x != 3

True

In [42]:
x == 5

True

In [43]:
# Boolean operations
5 > 3 and 6 < 3

False

In [44]:
5 > 3 or 5 < 3

True

In [45]:
not False

True

In [46]:
False or not False and True # evalucation order: not, and, or

True

#### Conditional Statements

In [47]:
# if statements
if x > 0:
    print('positive')

positive

In [48]:
# if/else statement
if x > 0:
    print('positive')
else:
    print('zero' or 'negative')

positive

In [49]:
# if/elif/else statement
if x > 0:
    print('positive')
elif x ==0:
    print('zero')
else:
    print('negative')

positive

In [50]:
# single-line if statement (sometimes discouraged)
if x > 0: print('positive')

positive

In [51]:
# single-line if/else statement (sometimes discouraged), known as a 'ternary operator'
'positive' if x > 0 else 'zero or negative'

'positive'

#### Lists

In [53]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [54]:
# create a list
simpsons = ['homer', 'marge', 'bart']

In [55]:
# examine a list
# print element 0
simpsons[0]

'homer'

In [56]:
len(simpsons)

3

In [59]:
# modify a list (does not return the list):
# append element to end
simpsons.append('Jo')
simpsons

['homer', 'marge', 'bart', 'lisa', 'lisa', 'Jo']

In [60]:
# append multiple elements to end
simpsons.extend(['itchy', 'scratchy'])
simpsons

['homer', 'marge', 'bart', 'lisa', 'lisa', 'Jo', 'itchy', 'scratchy']

In [61]:
# insert element at index 0 (shifts everything right)
simpsons.insert(0, 'maggie')
simpsons

['maggie', 'homer', 'marge', 'bart', 'lisa', 'lisa', 'Jo', 'itchy', 'scratchy']

In [62]:
# search for first instance and remove it
simpsons.remove('bart')
simpsons

['maggie', 'homer', 'marge', 'lisa', 'lisa', 'Jo', 'itchy', 'scratchy']

In [63]:
# remove element 0 and return it
simpsons.pop(0)

'maggie'

In [64]:
# remove element 0 (does not return it)
del simpsons[0]
simpsons

['marge', 'lisa', 'lisa', 'Jo', 'itchy', 'scratchy']

In [65]:
# replace element 0 
simpsons[0] = 'krusty'
simpsons

['krusty', 'lisa', 'lisa', 'Jo', 'itchy', 'scratchy']

In [66]:
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned', 'rod', 'todd']
neighbors

['krusty', 'lisa', 'lisa', 'Jo', 'itchy', 'scratchy', 'ned', 'rod', 'todd']

In [67]:
# find elements in a list
# counts the number of instances
simpsons.count('lisa')

2

In [68]:
# returns index of first instance
simpsons.index('itchy')

4

In [69]:
# list slicing
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [70]:
# element 0 
weekdays[0]

'mon'

In [71]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [72]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [73]:
# elements 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [74]:
# last element
weekdays[-1]

'fri'

In [75]:
# every 2nd element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [76]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

In [77]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

In [78]:
# sort a list in place (modifies but does not return the list):
simpsons.sort()
simpsons

['Jo', 'itchy', 'krusty', 'lisa', 'lisa', 'scratchy']

In [80]:
# sort in reverse
simpsons.sort(reverse = True)
simpsons

['scratchy', 'lisa', 'lisa', 'krusty', 'itchy', 'Jo']

In [82]:
# sort by a key
simpsons.sort(key=len)
simpsons

['Jo', 'lisa', 'lisa', 'itchy', 'krusty', 'scratchy']

In [83]:
# Insert into an already sorted list, and keep it sorted:
num = [10, 20, 40, 50]
from bisect import insort
insort(num, 30)
num

[10, 20, 30, 40, 50]

In [84]:
# object references and copies

# create a second reference to the same list
same_num = num

In [85]:
# modify both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

[0, 20, 30, 40, 50]
[0, 20, 30, 40, 50]

In [86]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)

In [87]:
# examine objects
num is same_num # checks whether they are the same object

True

In [88]:
num is new_num

False

In [89]:
num == same_num # checks whether they have the same content

True

In [91]:
num == new_num

True

#### Tuples

In [93]:
# create a tuple directly
digits = (0,1, 'two')
digits[2]

'two'

In [95]:
# create a tuple from a list
digits = tuple([0,1,'two'])
len(digits)

3

In [96]:
# count the number of instances of that value
digits.count(0)

1

In [97]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

In [98]:
# returns the index of the first instance of that value
digits.index(1)

1

In [99]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

In [100]:
# create a single tuple with elements repeated (also works with lists)
(3,4) * 2

(3, 4, 3, 4)

In [101]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)

[(10, 40), (20, 30), (20, 60)]

In [102]:
# tuple unpacking
bart = ('male', 10, 'simpson') # create a tuple
(sex, age, surname) = bart # assign three values at once

print(sex)
print(age)
print(surname)

male
10
simpson

#### Strings

In [103]:
# convert another data type into a string
s = str(42)
s

'42'

In [106]:
# create a string directly
s = 'I like you'
s[0]

'I'

In [107]:
len(s)

10

In [108]:
# string slicing is similar to list slicing
s[:6]

'I like'

In [110]:
s[7:]

'you'

In [111]:
s[-1]

'u'

In [112]:
# Basic string methods (does not modify the original string):
s.lower()

'i like you'

In [113]:
s.upper()

'I LIKE YOU'

In [114]:
s.startswith('I')

True

In [115]:
s.endswith('you')

True

In [116]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [117]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [118]:
# returns -1 since not found
s.find('hate')

-1

In [119]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love you'