#### Imports

In [1]:
# 'generic import' of math module
import math
math.sqrt(9)

3.0

In [2]:
# import a function
from math import sqrt
sqrt(25)

5.0

In [3]:
# import multiple functions at once
from math import cos, floor

In [4]:
# import all functions in a module (generally discouraged)
from csv import *

In [5]:
# define an alias
import datetime as dt

In [6]:
# show all functions in math module
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

#### Data Types

In [7]:
type(2)

int

In [8]:
type(2.0)

float

In [9]:
type('two')

str

In [10]:
type(True)

bool

In [11]:
type(None)

NoneType

In [12]:
# Check if an object is of a given type
isinstance(2.0, int)

False

In [13]:
isinstance(2.0, (int, float))

True

In [14]:
# Convert an object to a given type
float(2)

2.0

In [15]:
int(2.9)

2

In [16]:
str(2.9)

'2.9'

In [17]:
# Zero, None, and empty containers are converted to False:
bool(0)

False

In [18]:
bool(None)

False

In [19]:
bool('') # empty string

False

In [20]:
bool([]) # empty list

False

In [21]:
bool({}) # empty dictionary

False

In [22]:
# Non-empty containers and non-zeros are converted to True:
bool(2)

True

In [23]:
bool('two')

True

In [24]:
bool([2])

True

#### Math

In [25]:
10 + 4

14

In [26]:
10 - 4

6

In [27]:
10 * 4

40

In [28]:
10 ** 4 #exponent

10000

In [29]:
5 % 4 # modulo - computes the remainder

1

In [30]:
# Python 2: returns 2 (because both types are 'int')
# Python 3: returns 2.5
10/4

2.5

In [31]:
10/float(4)

2.5

In [32]:
10/4 # true division

2.5

In [33]:
10 // 4 # floor division

2

#### Comparison and Booleans Operations

In [34]:
# Assignment statement
x = 5

In [35]:
# Comparison
x > 3

True

In [36]:
x >= 3

True

In [37]:
x != 3

True

In [38]:
x == 5

True

In [39]:
# Boolean operations
5 > 3 and 6 < 3

False

In [40]:
5 > 3 or 5 < 3

True

In [41]:
not False

True

In [42]:
False or not False and True # evalucation order: not, and, or

True

#### Conditional Statements

In [43]:
# if statements
if x > 0:
    print('positive')

positive

In [44]:
# if/else statement
if x > 0:
    print('positive')
else:
    print('zero' or 'negative')

positive

In [45]:
# if/elif/else statement
if x > 0:
    print('positive')
elif x ==0:
    print('zero')
else:
    print('negative')

positive

In [46]:
# single-line if statement (sometimes discouraged)
if x > 0: print('positive')

positive

In [47]:
# single-line if/else statement (sometimes discouraged), known as a 'ternary operator'
'positive' if x > 0 else 'zero or negative'

'positive'

#### Lists

In [48]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [49]:
# create a list
simpsons = ['homer', 'marge', 'bart']

In [50]:
# examine a list
# print element 0
simpsons[0]

'homer'

In [51]:
len(simpsons)

3

In [52]:
# modify a list (does not return the list):
# append element to end
simpsons.append('Jo')
simpsons

['homer', 'marge', 'bart', 'Jo']

In [53]:
# append multiple elements to end
simpsons.extend(['itchy', 'scratchy'])
simpsons

['homer', 'marge', 'bart', 'Jo', 'itchy', 'scratchy']

In [54]:
# insert element at index 0 (shifts everything right)
simpsons.insert(0, 'maggie')
simpsons

['maggie', 'homer', 'marge', 'bart', 'Jo', 'itchy', 'scratchy']

In [55]:
# search for first instance and remove it
simpsons.remove('bart')
simpsons

['maggie', 'homer', 'marge', 'Jo', 'itchy', 'scratchy']

In [56]:
# remove element 0 and return it
simpsons.pop(0)

'maggie'

In [57]:
# remove element 0 (does not return it)
del simpsons[0]
simpsons

['marge', 'Jo', 'itchy', 'scratchy']

In [58]:
# replace element 0 
simpsons[0] = 'krusty'
simpsons

['krusty', 'Jo', 'itchy', 'scratchy']

In [59]:
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned', 'rod', 'todd']
neighbors

['krusty', 'Jo', 'itchy', 'scratchy', 'ned', 'rod', 'todd']

In [60]:
# find elements in a list
# counts the number of instances
simpsons.count('lisa')

0

In [61]:
# returns index of first instance
simpsons.index('itchy')

2

In [62]:
# list slicing
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [63]:
# element 0 
weekdays[0]

'mon'

In [64]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [65]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [66]:
# elements 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [67]:
# last element
weekdays[-1]

'fri'

In [68]:
# every 2nd element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [69]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

In [70]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

In [71]:
# sort a list in place (modifies but does not return the list):
simpsons.sort()
simpsons

['Jo', 'itchy', 'krusty', 'scratchy']

In [72]:
# sort in reverse
simpsons.sort(reverse = True)
simpsons

['scratchy', 'krusty', 'itchy', 'Jo']

In [73]:
# sort by a key
simpsons.sort(key=len)
simpsons

['Jo', 'itchy', 'krusty', 'scratchy']

In [74]:
# Insert into an already sorted list, and keep it sorted:
num = [10, 20, 40, 50]
from bisect import insort
insort(num, 30)
num

[10, 20, 30, 40, 50]

In [75]:
# object references and copies

# create a second reference to the same list
same_num = num

In [76]:
# modify both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

[0, 20, 30, 40, 50]
[0, 20, 30, 40, 50]

In [77]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)

In [78]:
# examine objects
num is same_num # checks whether they are the same object

True

In [79]:
num is new_num

False

In [80]:
num == same_num # checks whether they have the same content

True

In [81]:
num == new_num

True

#### Tuples

In [82]:
# create a tuple directly
digits = (0,1, 'two')
digits[2]

'two'

In [83]:
# create a tuple from a list
digits = tuple([0,1,'two'])
len(digits)

3

In [84]:
# count the number of instances of that value
digits.count(0)

1

In [85]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

In [86]:
# returns the index of the first instance of that value
digits.index(1)

1

In [87]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

In [88]:
# create a single tuple with elements repeated (also works with lists)
(3,4) * 2

(3, 4, 3, 4)

In [89]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)

[(10, 40), (20, 30), (20, 60)]

In [90]:
# tuple unpacking
bart = ('male', 10, 'simpson') # create a tuple
(sex, age, surname) = bart # assign three values at once

print(sex)
print(age)
print(surname)

male
10
simpson

#### Strings

In [91]:
# convert another data type into a string
s = str(42)
s

'42'

In [92]:
# create a string directly
s = 'I like you'
s[0]

'I'

In [93]:
len(s)

10

In [94]:
# string slicing is similar to list slicing
s[:6]

'I like'

In [95]:
s[7:]

'you'

In [96]:
s[-1]

'u'

In [97]:
# Basic string methods (does not modify the original string):
s.lower()

'i like you'

In [98]:
s.upper()

'I LIKE YOU'

In [99]:
s.startswith('I')

True

In [100]:
s.endswith('you')

True

In [101]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [102]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [103]:
# returns -1 since not found
s.find('hate')

-1

In [104]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love you'

In [105]:
# split a string
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [106]:
# you can also do it this way
s.split()

['I', 'like', 'you']

In [107]:
s2 = 'a, an, the'
s2.split()

['a,', 'an,', 'the']

In [108]:
# join or concatenate strings
# join a list of strings into one string using a delimiter

stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

'larry curly moe'

In [109]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

'The meaning of life is 42'

In [110]:
# remove white space from the start and end of a string
s5 = ' ham and cheese '
s5.strip()

'ham and cheese'

In [111]:
# string substitution
'raining {} and {}'.format('cats', 'dogs')

'raining cats and dogs'

In [112]:
# string formatting
# use 2 decimal places
'pi is {:.2f}'.format(3.14159)

'pi is 3.14'

In [113]:
# normal strings allow for escaped characters
print('first line\nsecond line')

first line
second line

#### Dictionaries

- Dictionary properties: unordered, iterable, mutable, can contain multiple data types
- Made of key-value pairs
- Keys must be unique, and can be strings, numbers, or tuples
- Values can be any type

In [114]:
# create an empty dictionary
empty_dict = {}

In [115]:
# create a dictionary
family = {'dad':'homer', 'mom':'marge', 'size':6}
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [116]:
family['dad']

'homer'

In [117]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [118]:
len(family)

3

In [119]:
'mom' in family

True

In [120]:
family.values()

dict_values(['homer', 'marge', 6])

In [121]:
# modifying a dictionary
# add a new entry
family['cat'] = 'snowball'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball'}

In [122]:
# edit an existing entry
family['cat'] = 'miau miau'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'miau miau'}

In [123]:
# dictionary value can be a list
family['kids'] = ['bart', 'lisa']
family

{'dad': 'homer',
 'mom': 'marge',
 'size': 6,
 'cat': 'miau miau',
 'kids': ['bart', 'lisa']}

In [124]:
# remove an entry and return the value
family.pop('dad')

'homer'

In [125]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

{'mom': 'marge',
 'size': 6,
 'cat': 'miau miau',
 'kids': ['bart', 'lisa'],
 'baby': 'maggie',
 'grandpa': 'abe'}

In [126]:
# you can also access a value with get
# provide a default return value if not found
family.get('grandma', 'not found')

'not found'

In [127]:
# Access a list element within a dictionary:
family['kids'][0]

'bart'

In [128]:
family['kids'].remove('lisa')
family

{'mom': 'marge',
 'size': 6,
 'cat': 'miau miau',
 'kids': ['bart'],
 'baby': 'maggie',
 'grandpa': 'abe'}

In [129]:
# String substitution using a dictionary:
'youngest child is %(baby)s' % family

'youngest child is maggie'

#### Sets

- Set properties: unordered, iterable, mutable, can contain multiple data types
- Made of unique elements (strings, numbers, or tuples)
- Like dictionaries, but with keys only (no values)

In [130]:
# create an empty set
empty_set = set()

In [131]:
# create a set directly
languages = {'python', 'r', 'java'}
languages

{'java', 'python', 'r'}

In [132]:
# create a set from a list
snakes = set(['cobra', 'viper', 'python'])
snakes

{'cobra', 'python', 'viper'}

In [133]:
# intersection
languages & snakes

{'python'}

In [134]:
# union
languages | snakes

{'cobra', 'java', 'python', 'r', 'viper'}

In [135]:
# set difference
languages - snakes

{'java', 'r'}

In [136]:
# add a new element
languages.add('sql')
languages

{'java', 'python', 'r', 'sql'}

In [137]:
# remove an element
languages.remove('java')
languages

{'python', 'r', 'sql'}

In [138]:
# remove and return an arbitrary element
languages.pop()

'python'

In [139]:
# remove all elements
languages.clear()
languages

set()

In [140]:
# add multiple elements (can also pass a set)
languages.update(['go', 'spark'])
languages

{'go', 'spark'}

In [141]:
# Get a sorted list of unique elements from a list:
sorted(set([9, 0, 2, 1, 0]))

[0, 1, 2, 9]

#### Defining Functions

In [142]:
# Define a function with no arguments and no return values:
def print_text():
    print('this is text')
    
# call the funciton
print_text()

this is text

In [143]:
# Define a function with one argument and no return values:
def print_this(x):
    print(x)

print_this(3)

3

In [144]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n = print_this(3)

3

In [145]:
# Define a function with one argument and one return value:
def square_this(x):
    """ Return the square of a number"""
    return x**2

In [146]:
# call the function
square_this(2)

4

In [147]:
# assigns 9 to var, but does not print 9
var = square_this(3)
var

9

In [148]:
# Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value):
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [149]:
# call the function
calc(10,4, op = 'add')

14

In [150]:
calc(10,4, op='sub')

6

In [151]:
calc(10,4, 'div')

valid operations are add and sub

In [152]:
# Use pass as a placeholder if you haven't written the function body:
def stub():
    pass

In [153]:
# Return two values from a single function:
def min_max(nums):
    return min(nums), max(nums)

In [154]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(nums)
min_max_num

(1, 3)

In [155]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

1
3

#### Anonymous (Lambda) Functions

In [156]:
# define a function the "usual" way
def squared(x):
    return x**2

In [157]:
# define an identical function using lambda
squared = lambda x: x**2

In [158]:
# Sort a list of strings by the last letter:
# without using lambda
simpsons = ['homer', 'marge', 'bart']

def last_letter(word):
    return word[-1]

sorted(simpsons, key=last_letter)

['marge', 'homer', 'bart']

In [159]:
# using lambda
sorted(simpsons, key=lambda word: word[-1])

['marge', 'homer', 'bart']

#### For Loops and While Loops

range returns a list of integers (Python 2) or a sequence (Python 3):

In [160]:
# includes the start value but excludes the stop value
range(0, 3)

range(0, 3)

In [161]:
# default start value is 0
range(3)

range(0, 3)

for loops

In [162]:
fruits = ['apple', 'banana', 'orange']

In [163]:
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
ORANGE

In [164]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print(key, ':', value)

dad : homer
mom : marge
size : 6

In [165]:
# use enumerate if you need to access the index value within the loop
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 orange

for/else loop:

In [166]:
for fruit in fruits:
    if fruit == 'banana':
        print('Found the banana!')
        break  # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

Found the banana!

while loop:

In [167]:
count = 0
while count < 5:
    print('This will print 5 times')
    count += 1 # equivalent to 'count = count + 1'

This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times

#### Comprehensions

In [168]:
# list comprehensions
# for loops to create a list of cubes
nums = [1,2,3,4,5]
cubes = []

for num in nums:
    cubes.append(num**3)
cubes

[1, 8, 27, 64, 125]

In [169]:
# equivalent list comprehension
cubes = [num**3 for num in nums]
cubes

[1, 8, 27, 64, 125]

In [170]:
# for loops to create a list of cubes of even numbers
cubes_of_even = []
for num in nums:
    if num % 2 == 0:
        cubes_of_even.append(num**3)
cubes_of_even

[8, 64]

In [171]:
# equivalent list comprehension
# syntax: [expression for variable in iterable if condition]
cubes_of_even = [num**3 for num in nums if num % 2 == 0]
cubes_of_even

[8, 64]

In [172]:
# for loop to cube even numbers and square odd numbers
cubes_and_squares = []
for num in nums:
    if num % 2 == 0:
        cubes_and_squares.append(num**3)
    else:
        cubes_and_squares.append(num**2)
cubes_and_squares

[1, 8, 9, 64, 25]

In [173]:
# equivalent list comprehension (using a ternary expression)
# syntax: [true_condition if condition else false_condition for variable in iterable]
cubes_and_squares = [num**3 if num % 2 == 0 else num**2 for num in nums]
cubes_and_squares

[1, 8, 9, 64, 25]

In [174]:
# for loop to flatten a 2d-matrix
matrix = [[1, 2], [3, 4]]
items = []

for row in matrix:
    for item in row:
        items.append(item)
items

[1, 2, 3, 4]

In [175]:
# equivalent list comprehension
items = [item for row in matrix
              for item in row]
items

[1, 2, 3, 4]

In [176]:
# set comprehension
fruits = ['apple', 'banana', 'cherry']
unique_lenghts = {len(fruit) for fruit in fruits}
unique_lenghts

{5, 6}

In [177]:
# dictionary comprehension
fruit_lenghts = {fruit:len(fruit) for fruit in fruits}
fruit_lenghts

{'apple': 5, 'banana': 6, 'cherry': 6}

In [178]:
fruit_indices = {fruit:index for index, fruit in enumerate(fruits)}
fruit_indices

{'apple': 0, 'banana': 1, 'cherry': 2}

#### Map and Filter

map applies a function to every element of a sequence and returns a list (Python 2) or iterator (Python 3):

In [179]:
simpsons = ['homer', 'marge', 'bart']
map(len, simpsons)

In [180]:
# equivalent list comprehension
[len(word) for word in simpsons]

[5, 5, 4]

In [181]:
map(lambda word: word[-1], simpsons)

In [182]:
# equivalent list comprehension
[word[-1] for word in simpsons]

['r', 'e', 't']

filter returns a list (Python 2) or iterator (Python 3) containing the elements from a sequence for which a condition is True:

In [183]:
nums = range(5)
filter(lambda x: x % 2 == 0, nums)

In [184]:
# equivalent list comprehension
[num for num in nums if num % 2 == 0]

[0, 2, 4]